<ion-header>
  <ion-toolbar>
    <ion-title>
      Cadastro
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-item>
    <ion-label position="stacked"> Usuário: </ion-label>
    <ion-input placeholder="Digite o usuário" type="text" [(ngModel)]="Usuario" ></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked"> Senha: </ion-label>
    <ion-input placeholder="******" type="password" [(ngModel)]="Senha" ></ion-input>
  </ion-item>

  <ion-button expand="block" (click)="cancelar()">Cancelar</ion-button>
  <ion-button expand="block" (click)="cadastrar()">Cadastrar</ion-button>
</ion-content>

<ion-card-content>
  <p><strong>{{Usuario}}</strong></p>
<p>IMC {{Senha}}</p>
</ion-card-content>